

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}

/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }



/* ------------  start here --------------- */

body {
	position: relative;
	margin-left:auto;
	margin-right:auto;
	
}

/* ---Nav--- */

#site-header{
	height:100px;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background-color:rgb(255,255,255);
	z-index:100;
}

#stickyNav{
	height:120px;
	width:100%;

}

#header-center {
	width:745px;
	margin:0 auto;
}

#name {
	margin-top: 50px;
	margin-bottom: 25px;
	font-family:Open Sans; Helvetica; Sans-serif;
	font-weight:600;
	font-size: 30px;
	display: inline-block;
	float:left;
}

header a {
	color:black;
}

nav{
	float:right;
}

li{
	font-family:Open Sans; Helvetica; Sans-serif;
	text-transform: uppercase;
	padding:2px 25px 2px 25px;
	font-weight:600px;
	font-size: 12px;
	letter-spacing: 1px;
	display: inline-block;
	position: relative;
	margin-top: 60px;
	margin-bottom: 25px;
}

a{
	text-decoration:none;
}


li a:hover {
	background-color: black;
	color:white;
	font-weight:600;
	padding: 0 30px 0 30px;
	
}

/* ---main--- */

#main {
	max-width:600px;
	margin: 175px auto 125px auto;
}


body h1{
	font-family:Open Sans; Helvetica; Sans-serif;
	text-transform: uppercase;
	font-weight:600;
	display: inline-block;	
}

#about-img {
	width:100%;
	height:auto;
	padding: 2.5% 0 2.5% 0;
}

.Resume-img{
	width:100%;
	height:auto;
	padding: 2.5% 0 2.5% 0;
}

.BT-img {
	width:100%;
	height:auto;
	padding: 2.5% 0 2.5% 0;
}

.FM-img {
	width:90%;
	height:auto;
	padding: 2.5% 0 2.5% 0;
}

.Allure-img{
	width:100%;
	height:auto;
	padding: 2.5% 0 2.5% 0;
}

.Train-img	{
	width:100%;
	height:auto;
	padding: 2.5% 0 2.5% 0;
}
	
.design-img	{
	width:30%;
	height:auto;
	padding:.5%
}

.leftovers-img{
	width:100%;
	height:auto;
	padding: 2.5% 0 2.5% 0;
}

.comparison-img{
	width:100%;
	height:auto;
	padding: 2.5% 0 2.5% 0;
}

.Lettercropping-img{
	width:100%;
	height:auto;
	padding: 2.5% 0 2.5% 0;
}

img.color_flip {
      filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .5s ease-in-out;
    }
img.color_flip:hover {
      filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.1);
    }
	
#body-text{
	font-family:Open Sans; Helvetica; Sans-serif;
	font-size:12px;
	line-height: 1.5em;
	font-weight:400;
	float:center;
	text-align:left;
	width:100%;
	height:auto;
}

#small-caps{
	text-transform: uppercase;
	font-size: 11px;
}
/* ---footer--- */


footer{
	background-color:black;
	text-align:center;
}

#footer-text{
	font-family:Open Sans; Helvetica; Sans-serif;
	font-weight:400;
	color:white;
	line-height: 1.75em;
	font-size: 13px;
	padding-bottom:10px;
}

hr{
	width:50px;
}

footer a {
	color:white;
	text-decoration:none;
}

footer img {
	width:25px;
	padding:30px 15px 20px 15px;
	display:inline-block;
}

#copyright {
	font-family:Open Sans; Helvetica; Sans-serif;
	font-weight:400;
	color:white;
	line-height: 1.5em;
	font-size: 11px;
	font-color:255,255,255;
	padding-top:10px; 
	padding-bottom:30px;
}

/* ---breaks--- */

@media screen and (max-width:500px) { 
	#article1, #article2{
		float:none;
		width:95%;}
	#wiki, #martha {
		float:none;
		text-align:center;}
	#nav li {
		display:block;}
	#nav .bullet {display:none;}
}
  
  
  
  
  
  
