

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


/* ------------  start here --------------- */

#site-header {
	width:445;
	height:95;
	display:inline-block;
}

header {text-align:center;}

#body {
	background-color: white;
	width:900px;
	margin-left:auto;
	margin-right:auto;
}

hr {
	border:solid 1.2px black;
	
}

#nav {
	font-family:Serif;
	font-weight:bold;
	font-size: 20px;
	word-spacing: 10px;
	text-transform: uppercase;
	text-align:center;
	display: inline; 
}

#nav li {
	display: inline; 
	padding: 10px; 
	text-align:center;
}


#article1 {
	width: 375px;
	font-size:10px;
	padding: 15px 10px 20px 10px; 
	float:left;
}

#article2 {
	width: 375px;
	font-size:10px;
	padding: 15px 10px 20px 10px; 
	float:left;
}

h1{
	text-transform:normal;
	font-size:18px;
	font-weight:bold;
	letter-spacing:.2px;
	padding: 5px 5px 5px 0px;
}

#bottom-footer{
	clear:both;
}

#footer {
	clear:both;
}

#wiki{
	float:left;
	width:400px;
}

#martha{
	float: right;
	width: 400px;
	padding: none;
	text-align:right;
}

span {
	color:red;
}









